In [29]:
from textblob import TextBlob
import numpy as np
import pandas as pd
import tweepy
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [30]:
consumerKey = "qzXFFp4UpSQxLkmeVoDLEkv3b"
consumerSecret = "UdrRKqKZ8CXP8bA4dFKuiZwz3VESQE1A4r3idWapTiWaZbNQTC"
accessToken = "818238292353159169-yVRP0QJ5VzyAMXGlPHBtGSTiv55fTeB"
accessTokenSecret = "PEKWZt64fjEKfuLF7S1nzf5oHFxbLMneeJS69ws2ystML"
auth = tweepy.OAuthHandler(consumerKey, consumerSecret)
auth.set_access_token(accessToken, accessTokenSecret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [31]:
keyword = input('Please enter hashtag to search:')
noOfTweet = int(input ('Please enter Number of tweets : '))

Please enter hashtag to search:elonmusk
Please enter Number of tweets : 100

In [32]:
tweets = tweepy.Cursor(api.search_tweets, q=keyword).items(noOfTweet)
positive = 0
negative = 0
neutral = 0
polarity = 0
tweet_list = []
neutral_list = []
negative_list = []
positive_list = []

In [33]:
def perc(val, no):
    return (val / no) * 100
for tweet in tweets:
    tweet_list.append(tweet.text)
    analysis = TextBlob(tweet.text)
    score = SentimentIntensityAnalyzer().polarity_scores(tweet.text)
    neg = score['neg']
    neu = score['neu']
    pos = score['pos']
    comp = score['compound']
    polarity += analysis.sentiment.polarity
    
    if  neg > pos:
        negative_list.append(tweet.text)
        negative += 1

    elif pos > neg:
        positive_list.append(tweet.text)
        positive += 1

    elif pos == neg:
        neutral_list.append(tweet.text)
        neutral += 1
    
positive = perc(positive, noOfTweet)
negative = perc(negative, noOfTweet)
neutral = perc(neutral, noOfTweet)
polarity = perc(polarity, noOfTweet)
positive = format(positive, '.1f')
negative = format(negative, '.1f')
neutral = format(neutral, '.1f')

In [34]:
#Number of Tweets (Total, Positive, Negative, Neutral)
tweet_list = pd.DataFrame(tweet_list)
neutral_list = pd.DataFrame(neutral_list)
negative_list = pd.DataFrame(negative_list)
positive_list = pd.DataFrame(positive_list)
print('total :' ,len(tweet_list))
print('positive: ',len(positive_list))
print('negative: ', len(negative_list))
print('neutral: ',len(neutral_list))

total : 100
positive:  42
negative:  12
neutral:  46

In [35]:
tweet_list

                                                    0
0   RT @TFG_NFTS: Let us know what you think!\n\nE...
1   RT @HouseGOP: Hey, @elonmusk it's a great week...
2   RT @Lewaney_1: Recover my old  account of Twit...
3   RT @ApiInu: API Inu was launched the same day ...
4   @laurenboebert @elonmusk Go back to school Bob...
..                                                ...
95  @MargsMT @elonmusk @WileyCEO @elonmusk - 3 @Wi...
96  25th April should be declared 'Musk Day'. A da...
97  @AdamMGrant @elonmusk @Twitter Delegation is a...
98  @sunnewstamil @elonmusk @Twitter @paraga கருத்...
99    https://t.co/6qJxEfmfAS https://t.co/z6MNjiRTsW

[100 rows x 1 columns]